body{
    background-color:rgb(67, 105, 105);
    
}
#hed{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#input{
    display: flex;
    justify-content: center;
    height: 60px;
}
#p1{
    height:25px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
}
#buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#ad1{
    width: 90px;
    height: 30px;
    background-color: rgb(155, 162, 162);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid black;
}
#lists{
    display: flex;
    justify-content: center;

}
input::placeholder, 
textarea::placeholder {
  font-size: 15px;
}

h1{
    color: black;
}
#main-box{
    background-color: aliceblue;
    width:350px;
    margin:auto;
    height: auto;
    margin-top: 150px;
    margin-bottom:150px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    border: 1px solid black;

}
.delete{
    margin-left: 50px;
    margin-top: 10px;
    background-color:rgb(67, 105, 105);
    color: white;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    border: 2px solid black;
}
